* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  margin: 0;
  padding: 0;
}

html, body {
  background: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: monospace;
}

.game-container {
  width: 100vw;
  height: 100vh;
  background: #5c94fc; /* Azul estilo cielo NES */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 4px solid black;
}
